html {
    height: 100%;
}


body{
    background-image:url(background2.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    height: 200px;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.buttonIndexTrajet
{
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 24px;
}

.row{
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}


footer{
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;

}

.center{
    display:inline-block;
}

.Adresse_depart{

    text-align: center;
}

.marge{
 
    
   padding : 10px;
}