html {
    height: 100%;
}


#body1{
    background-image:url("image/background2.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    height: 200px;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}


.buttonIndexTrajet{
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 24px;
}

.row{
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}


footer{
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
    background-color: #BDBDBD;

}

.pied {
    background-color: #BDBDBD;
    text-align: center;
    line-height: 160px;
    /*width: 591px;*/
    height: 160px;
    margin-left:auto;
    margin-right:auto;
    /*font-size: 80px;*/   
    bottom:0px;

}

#searchBar{
	/*background-color:#A4A4A4;
	border-radius: 20px;
	
	width:1500px;
    
    height:100px;*/
}

.center{
    display:inline-block;
}

.Adresse_depart{
    text-align: center;
}

.marge{ 
    padding : 10px;
}


.container_map{
    position:relative;width:990px;margin:auto;
}

.map_google{
    width:500px;height:500px;margin:auto;
}

.pad{
    padding : 90px;
}


#containerMain{
    padding : 200px;
    margin-left : 400px;

}
#containerMain2{
    padding : 200px;
    margin-left : 400px;
    background-color: lightblue;
    
}


#InputMain{
    background-color: lightblue;
    width : 580px;
    height : 540px;
}

#InputMain2{
    background-color: lightblue;
    width : 400px;
    height : 540px;
}

#article {
    background-color: lightblue;
    padding : 300px;
    margin-left : 900px;
    width : 580px;
    height : 540px;

}

.texte {
    background-color: #898484;
    text-align: center;

}

.titre_interne{
    background-color: #898484;
    text-align: center;

}

.logo {
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    padding: 5px;
    width: 100px;
     
}

.logo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}